<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bootstrap.css') }}">

    <title>{{ title }}</title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='JavaScript/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='JavaScript/popper.min.js') }} "></script>
    <script src="{{ url_for('static', filename='JavaScript/bootstrap.min.js') }}"></script>
  </body>
</html>